/* A custom css file for my personal website */

/* CSS Reset */
* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}


/*----- General Styles -----*/
body {
    /*
    background: rgba(0, 0, 0, .5) url("../images/backgrounds/cloudymountaintopsfade.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    */
    background-color: #EAE7DC;
    padding: 0 6rem;
}

header { font-weight: bold; }


/*----- Utility Styles -----*/
.no-margins { margin: 0; }

.center-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-bottom {
    position: relative;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -100%);
    align-self: flex-end;
    vertical-align: center;
}

.non-selectable {
    user-select: none; 
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none; 
}

.no-bullets {
    list-style-type: none;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

/*----- Sitewide Styles -----*/
.page-section { 
    height: 100vh; 
    width: 100%; 
    display: flex;
}


/*----- Section Styles -----*/
    
/* Landing Area */

.heading-area {
    max-width: 70%;
    font-family: 'Righteous', cursive;
    color: #E98074;
    display: grid;
} 

.heading-area .pre-header { 
    font-size: 2.5rem; 
    font-family: inherit;
} 

.heading-area header {
    font-size: 6rem;
    color: #E85A4F;
    letter-spacing: .3rem;
    padding-left: 2rem;
    margin-bottom: 3rem;
}

.heading-area p { 
    font-size: 1.4rem; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 

/* Arrow & Effects */
.arrow {
    color: rgba(232, 90, 79, .7);
}

.bounce {
    animation: bounce 3s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
}

/* About Area */
.profile-pic {
    background-color: #8E8D8A;
    height: 26.5rem;
    width: 26.5rem;
    border-radius: 100%;
    /*border: 1px solid #E98074;*/
}

.profile-pic img {
    height: 25rem;
    width: 25rem;
    border-radius: 100%;
}

/* Info Selection Buttons */
.info-selector {
    align-self: flex-end;
    text-align: center;
}

.info-selector li {
    float: left;
    display: inline;
    margin: 0 1rem;
    overflow: hidden;
}

.info-selector p {
    font-family: 'Righteous', cursive;
    visibility: hidden;
    position: absolute;
    color: #2c3e50;
}

/* Resting State Buttons */ 
.outer-halo {
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    background-color: #8E8D8A;
    text-align: right;
    position: relative;
    display: flex;
    transition: .5s;
}

.inner-halo {
    height: 3.70rem;
    width: 3.70rem;
    border-radius: 100%;
    background-color: lightgray;
    animation: out .5s;
    transition: .5s;
}

/* Animation for when the user hovers out */
@keyframes out {
    from { transform: translate(.3rem, .3rem); }
    to { transform: translate(0rem , 0rem);}
}

.info-button-icon {
    position: absolute;
    color: #E98074;
    transition: .5s;
}

/* Hover State Buttons */
.info-selector:hover p {
    visibility: visible;
    transition: .5s;
}

.outer-halo:hover .inner-halo {
    animation: in .5s;
    transform: translate(.3rem, .3rem);
}

/* Animation for when the user hovers in */
@keyframes in {
    from { transform: translate(0rem , 0rem); }
    to { transform: translate(.3rem, .3rem); }
}

.outer-halo:hover i {
    color: #f7f1e3;
    transition: .5s;
}


/* Active State Buttons -- Disable any animations */
.active {
    background-color: lightgray;
    transition: 1s;
}

.active .inner-halo {
    background-color: #8E8D8A;
    transform: translate(.3rem, .3rem);
    transition: .5s;
    animation: none;
}

.active i {
    color: #f7f1e3;
}

.outer-halo.active:hover .inner-halo {
    background-color: #8E8D8A;
    animation: none;
}